.place {
    display: grid;
    grid-template-columns: 460px 1fr;
    gap: 48px 40px;
    grid-template-areas:
    "title url"
    "image description";
}

@media screen and (max-width: 1140px) {
    .place {
        gap: 48px 32px;
    }
}